.footer {
    height: 24rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

    &__copyright-container {
        justify-self: flex-end;
        padding-top: 9rem;

        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        letter-spacing: .5rem;

        text-transform: uppercase;

        h2 {
            font-size: 2rem;
        }

        &--icons {
            font-size: 2rem;
            margin-top:2rem;
        }
    }
}